
html, body {
  max-width: 100%;
  width: fit-content;
  overflow-x: hidden;
}


/* Navbar */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

#navigation-text {
  display: flex;
  align-items: center;
}

#navigation-text li {
  list-style: none;
}

#navigation-text li a {
  position: relative;
  padding: 0 15px;
  color: black;
  text-decoration: none;
  letter-spacing: 0.5px;
  transition: 0.2s;
}

#navigation-text li a::after {
  content: "";
  position: absolute;
  background-color: black;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

#navigation-text li a:hover::after {
  width: 100%;
}

/* Login & Sign up */

.login {
  display: flex;
  align-items: center;
  margin: 10px;
}

#login-btn {
  text-align: center;
  color: black;
  padding: 10px 30px;
  border-radius: 30px;
  box-shadow: inset 0 0 0 0 black;
  transition: 0.5s;
}

#login-btn:hover {
  box-shadow: inset 150px 0 0 0 black;
  cursor: pointer;
  color: white;
}


.login a {
  text-decoration: none;
  color: black;
  margin: 10px;
}

.box {
  text-align: center;
  margin: 10px;
  padding: 10px;
  border-radius: 30px;
  background-color: #DFE5E9;
  box-shadow: inset 0 0 0 0 #DFE5E9;
  transition: 0.5s;
}

.login a {
  text-decoration: none;
  color: black;
  margin: 10px;
}

.box {
  text-align: center;
  margin: 10px;
  padding: 10px;
  border-radius: 30px;
  background-color: #DFE5E9;
  box-shadow: inset 0 0 0 0 #DFE5E9;
  transition: 0.5s;
}

.box:hover {
  box-shadow: inset 150px 0 0 0 #37B6FF;
  cursor: pointer;
}
.logo2 img{
  margin-bottom: 200%;
  margin-left: 220%;
}

.top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 100px;
}

.tulisan{
  font-family: 'Poppins', sans-serif;
  color: brown;
}
.tulisan{
  color: black;
  font-size: 30px;
  margin-left: 50px;
}
.caption{
  font-family: montserrat;
  font-size: 100%;
  margin-left: 50px;
}
#gambar{
  width: 70%;
  height: auto;
  float: right;
}

.tulisan h1 {
  margin-bottom: 20px;
}

.tulisan a {
  width: 15rem;
  cursor: pointer;
  display: block;
  margin: 1rem auto;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  color: white;
  background-color: #37b6ff;
  border: 0;
  border-radius: 30px;
  text-align: center;
  transition: 0.1s ease;
  text-decoration: none;
}

.tulisan a:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px 3px rgb(218, 218, 218);
}

/* FAQ Box */

#faq-title {
  margin: 0;
}

.container-fluid {
  width: 40%;
  margin: 0 auto;
  margin-top: 100px;
}

.container-fluid h2 {
  color: #37B6FF;
  position: relative;
  width: 23rem;
}

.accordion {
  width: 100%;
  padding: 0 5px;
  border: 2px solid black;
  cursor: pointer;
  border-radius: 50px;
  display: flex;
  margin: 10px 0;
  align-items: center;
}

.accordion .icon {
  margin: 0 10px 0 0;
  width: 30px;
  height: 30px;
  background: url() no-repeat 8px 7px black;
  border-radius: 50%;
  float: left;
  transition: all .5s ease-in;
}

.accordion h5 {
  font-size: 20px;
  margin: 0;
  padding: 3px 0 0 0;
  font-weight: normal;
  color: black;
  transition: all .5s ease-in;
}

.active .icon {
  background: url() no-repeat 8px 25px white;
}

.active {
  color: white;
}

.active h5 {
  color: black;
}

.panel {
  padding: 0 15px;
  border-left: 1px solid black;
  margin-left: 25px;
  font-size: 14px;
  text-align: justify;
  overflow: hidden;
  max-height: 0;
  transition: all .5s ease-in;
}

/* Footer */

footer {
  position: relative;
  margin-top: 20%;
  width: 100vw;
  height: 300px;
  background-color: #f7f8f8;
}

h2 {
  font-size: 1rem;
  margin-left: 20%;
  padding-top: 5%;
}

footer a {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  text-decoration: none;
  margin-left: 20%;
  color: #c4c4c4;
}

.copyright {
  margin-top: 80px;
  margin-left: 20%;
}
